/* FONTS

font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif Display', serif;
    
    */

:root {
  --heading-font: "Noto Serif Display", serif;
  --default-font: "Montserrat", sans-serif;
  --cultured: #f1f1f1ff;
  --silver-sand: #b5c4c7ff;
  --green-sheen: #6cb2b0;
  --cadet: #64797cff;
  --eerie-black: #1d1c1cff;
  --link-primary: #d48030ff;
  --link-hover: #9c5011ff;
  --coffee: #774a31ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--eerie-black);
}

p {
  font-family: var(--default-font);
  font-weight: 400;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 1.1em;
}

a:hover {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 1.1em;
}

.heading-h1 {
  font-size: 5em;
}

.subheading-h2 {
  font-size: 2.5em;
  line-height: 55px;
}

.blue-highlight {
  color: var(--silver-sand);
}

/* HOMEPAGE */

.hero-section {
  padding-top: 15vw;
  background-color: var(--cultured);
}

.hero-buttons {
  padding-top: 4em;
  padding-bottom: 15vw;
  background-color: var(--cultured);
}

.subtitle-align-end {
  text-align: end;
}

@media (max-width: 900px) {
  .hero-section {
    padding-top: 30vw;
    background-color: var(--cultured);
  }
  .heading-h1 {
    font-size: 4em;
  }

  .subheading-h2 {
    font-size: 2em;
    padding: 0 1em;
    line-height: 42px;
  }

  .hero-buttons {
    padding-top: 3em;
    padding-bottom: 30vw;
    background-color: var(--cultured);
  }
}

@media (max-width: 480px) {
  .subtitle-align-end {
    text-align: start;
    margin-bottom: 0.5em;
  }
}

.button-one {
  background-color: var(--coffee);
  padding: 0.5em 1.5em;
  color: white;
  border-radius: 5px;
}

.button-one:hover {
  background-color: var(--link-hover);
  padding: 0.5em 1.5em;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(29, 28, 28, 0.3);
}

.button-two {
  background-color: var(--cadet);
  padding: 0.5em 1.5em;
  color: white;
  border-radius: 5px;
}

.button-two:hover {
  background-color: var(--green-sheen);
  padding: 0.5em 1.5em;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(29, 28, 28, 0.3);
}

.aboutme-homepage {
  padding-top: 13em;
  padding-bottom: 13em;
}

/* END HOMEPAGE */
