/* FONTS

font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif Display', serif;
    
    */

:root {
  --heading-font: "Noto Serif Display", serif;
  --default-font: "Montserrat", sans-serif;
  --cultured: #f1f1f1ff;
  --silver-sand: #b5c4c7ff;
  --green-sheen: #6cb2b0;
  --cadet: #64797cff;
  --eerie-black: #1d1c1cff;
  --link-primary: #9c5011ff;
  --link-hover: #d48030ff;
  --coffee: #774a31ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif Display", serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--eerie-black);
}

p {
  font-family: var(--default-font);
  font-weight: 400;
  font-size: 1.1em;
}

.footer-text {
  font-family: var(--default-font);
  font-weight: 400;
  font-size: 0.8em;
  text-align: center;
  color: var(--coffee);
}

img {
  border-radius: 1em;
}

a {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 1.1em;
}

a:hover {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 1.1em;
}

a.navigation {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 1em;
}

a.navigation:hover {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 1em;
  color: var(--link-hover) !important;
}

a.regular-font {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 1.1em;
  color: var(--link-primary);
}

a.regular-font:hover {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 1.1em;
  color: var(--link-hover);
}

a.footer-font {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 0.9em;
  color: var(--link-primary);
}

a.footer-font:hover {
  text-decoration: none;
  font-family: var(--default-font);
  font-size: 0.9em;
  color: var(--link-hover);
}

a.active {
  color: var(--link-hover) !important;
}

a.heading2 {
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1.1em;
  color: var(--link-primary);
}

a.heading2:hover {
  text-decoration: none;
  font-family: var(--heading-font);
  font-size: 1.1em;
  color: var(--link-hover);
}

.heading-h1 {
  font-size: 5em;
}

.subheading-h2 {
  font-size: 2.5em;
  line-height: 55px;
}

.blue-highlight {
  color: var(--silver-sand);
}

.fab,
.far {
  color: var(--link-primary);
}

.fab:hover {
  color: var(--link-hover);
}

@media (max-width: 900px) {
  .float-right-dropdown {
    float: right;
    margin-right: 3em;
  }

  .margin-top-dropdown {
    margin-top: 2em;
  }

  .logo {
    margin-left: 3em !important;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
    margin-right: 3em;
  }

  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.navbar-toggler {
  margin-right: 2em;
  border: none;
}

.navbar-light {
  background-color: var(--cultured) !important;
}

.logo {
  margin-top: -3.5em !important;
  width: 70px;
  position: relative;
  margin: 0 auto;
}

.logo img {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.front-image-hover {
  z-index: 9999;
  transition: opacity 0.2s linear;
}

.logo:hover > .front-image-hover {
  opacity: 0;
}

/* ----------------------------------- PAGE SECTIONS */

.hero-section {
  padding-top: 15vw;
  background-color: var(--cultured);
}

.hero-section-two {
  padding-top: 8vw;
}

.hero-buttons {
  padding-top: 4em;
  padding-bottom: 15vw;
  background-color: var(--cultured);
}

.subtitle-align-end {
  text-align: end;
}

@media (max-width: 900px) {
  .hero-section {
    padding-top: 30vw;
    background-color: var(--cultured);
  }
  .heading-h1 {
    font-size: 4em;
  }

  .subheading-h2 {
    font-size: 2em;
    padding: 0 1em;
    line-height: 42px;
  }

  .hero-buttons {
    padding-top: 3em;
    padding-bottom: 30vw;
    background-color: var(--cultured);
  }
}

@media (max-width: 480px) {
  .subtitle-align-end {
    text-align: start;
    margin-bottom: 0.5em;
  }
}

.narrower-columns {
  padding-left: 20%;
  padding-right: 20%;
}

@media (max-width: 480px) {
  .narrower-columns {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.button-one {
  background-color: var(--coffee);
  padding: 0.5em 1.5em;
  color: white;
  border-radius: 5px;
}

.button-one:hover {
  background-color: var(--link-hover);
  padding: 0.5em 1.5em;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(29, 28, 28, 0.3);
}

.button-two {
  background-color: var(--cadet);
  padding: 0.5em 1.5em;
  color: white;
  border-radius: 5px;
}

.button-two:hover {
  background-color: var(--green-sheen);
  padding: 0.5em 1.5em;
  color: white;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(29, 28, 28, 0.3);
}

.aboutme-homepage {
  padding-top: 13em;
  padding-bottom: 9em;
}

.highlight-area {
  background-color: var(--cultured);
  margin-top: 4em;
  padding: 2em;
  text-align: center;
  border-top-right-radius: 3em;
  border-bottom-left-radius: 3em;
}

.footer-line {
  margin-top: 10%;
  border-top: solid 2px var(--cultured);
  text-align: center;
}

.footer-narrower {
  padding: 0 15vw;
}

@media (min-width: 1024px) {
  .footer-narrower {
    padding: 0 20vw;
  }
}
